{% extends 'base.html' %}

{% block title %}Inicio - ChangaMas{% endblock %}

{% block content %}
    <h1>Publicaciones</h1>

    <a href="{% url 'publicaciones:crear' %}" class="btn btn-secondary">Crear Publicación</a>
    <a href="{% url 'publicaciones:lista' %}" class="btn btn-secondary">Ver Todas las Publicaciones</a>
    <br><br>

    {% if user.is_authenticated and user.es_admin_general %}
        <div class="admin-box">
            <p class="admin-box-title"><strong>Área exclusiva de Administrador:</strong></p>
            <a href="{% url 'publicaciones:lista' %}" class="btn btn-primary">
                Ver lista de todas las publicaciones
            </a>
        </div>
    {% endif %}
{% endblock %}