{% extends 'base.html' %}

{% block title %}{% if object %}Editar Empresa{% else %}Registrar Empresa{% endif %} - ChangaMas{% endblock %}

{% block content %}
<body>
    <h1>{% if object %}Editar datos de {{ object.nombre_empresa }}{% else %}Registrar Nueva Empresa{% endif %}</h1>

    <form method="POST">
        {% csrf_token %}
        
        <!-- Renderiza todos los campos del modelo empresa -->
        {{ form.as_p }}
        
        <button type="submit">Guardar Datos de la Empresa</button>
        <a href="{% url 'empresa_lista' %}">Cancelar</a>
    </form>
</body>

{% endblock %}