{% extends 'base.html' %}

{% block title %}Empleado crear - ChangaMas{% endblock %}

{% block content %}
<body>
    <h1>{% if object %}Editar perfil de {{ object.usuario.username }}{% else %}Crear Nuevo Perfil Profesional{% endif %}</h1>

    <!-- El enctype es fundamental aquí por el campo CV -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit">Guardar Perfil Profesional</button>
        <a href="{% url 'empleado_lista' %}">Cancelar</a>
    </form>
</body>

{% endblock %}