<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ChangaMas{% endblock %}</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

    {% include 'header.html' %}

    <!-- CONTENIDO DINÁMICO (Aquí se inyectarán las otras páginas) -->
    <main style="padding: 20px;">
        {% block content %}
        <!-- El contenido de las apps va aca -->
        {% endblock %}
    </main>

    {% include 'footer.html' %}

</body>
</html>