<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ChangaMas{% endblock %}</title>

</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

    <!-- HEADER GLOBAL -->
    <header style="background-color: #333; color: white; padding: 15px; text-align: center;">
        <h2 style="margin: 0;">ChangaMas</h2>
        <nav style="margin-top: 10px;">
            <a href="{% url 'inicio' %}" style="color: white; margin-right: 15px;">Inicio</a>
            
            {% if user.is_authenticated %}
                <span style="color: lightgreen; margin-right: 15px;">Hola, {{ user.username }}</span>
            {% else %}
                <a href="/admin/" style="color: white;">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </header>

    <!-- CONTENIDO DINÁMICO (Aquí se inyectarán las otras páginas) -->
    <main style="padding: 20px;">
        {% block content %}
        <!-- El contenido de las apps va aca -->
        {% endblock %}
    </main>

    <!-- FOOTER GLOBAL -->
    <footer style="background-color: #f1f1f1; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%;">
        <p style="margin: 0;">&copy; 2026 ChangaMas - Proyecto Integrador - PalaRin </p>
    </footer>

</body>
</html>